@if (memberData) {
  <div class="member-bio">
    <div class="member-header">
      <img
        class="member-thumbnail"
        [src]="memberData.image"
        [alt]="'Thumbnail of ' + memberData.name"
      />
      <h2 class="member-name">{{ memberData.name }}</h2>
    </div>

    <p class="member-instrument">
      <strong>Instrument:</strong> {{ memberData.instrument }}
    </p>
    <p class="member-band">
      <strong>Band:</strong> {{ memberData.band }}
    </p>

    <h3 class="bio-label">Bio</h3>

    <p class="bio-text">{{ memberData.bio }}</p>

    <app-social-links [socialLinks]="memberData.socialLinks || undefined" size="small"></app-social-links>  </div>
}