<!-- <span class="gradient-separator-line"></span> -->
<div *ngIf="links" class="social-links">
  
  <a *ngIf="links.facebook" 
     [href]="links.facebook" 
     target="_blank" 
     aria-label="Facebook" 
     [ngClass]="['social-icon', 'facebook', size]">
    <i class="fa-brands fa-facebook"></i>
  </a>

  <a *ngIf="links.instagram" 
     [href]="links.instagram" 
     target="_blank" 
     aria-label="Instagram" 
     [ngClass]="['social-icon', 'instagram', size]">
    <i class="fa-brands fa-instagram"></i>
  </a>

  <a *ngIf="links.x" 
     [href]="links.x" 
     target="_blank" 
     aria-label="X" 
     [ngClass]="['social-icon', 'x', size]">
    <i class="fa-brands fa-x-twitter"></i>
  </a>

  <a *ngIf="links.youtube" 
     [href]="links.youtube" 
     target="_blank" 
     aria-label="YouTube" 
     [ngClass]="['social-icon', 'youtube', size]">
    <i class="fa-brands fa-youtube"></i>
  </a>

  <a *ngIf="links.tiktok" 
     [href]="links.tiktok" 
     target="_blank" 
     aria-label="TikTok" 
     [ngClass]="['social-icon', 'tiktok', size]">
    <i class="fa-brands fa-tiktok"></i>
  </a>
  
</div>
