<div *ngIf="socialLinks" class="social-links">
  <a *ngIf="socialLinks.facebook" 
     [href]="socialLinks.facebook" 
     target="_blank" 
     aria-label="Facebook" 
     [ngClass]="['social-icon', 'facebook', size]">
    <i class="fa-brands fa-facebook"></i>
  </a>
  <a *ngIf="socialLinks.instagram" 
     [href]="socialLinks.instagram" 
     target="_blank" 
     aria-label="Instagram" 
     [ngClass]="['social-icon', 'instagram', size]">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a *ngIf="socialLinks.x" 
     [href]="socialLinks.x" 
     target="_blank" 
     aria-label="X" 
     [ngClass]="['social-icon', 'x', size]">
    <i class="fa-brands fa-x-twitter"></i>
  </a>
  <a *ngIf="socialLinks.youtube" 
     [href]="socialLinks.youtube" 
     target="_blank" 
     aria-label="YouTube" 
     [ngClass]="['social-icon', 'youtube', size]">
    <i class="fa-brands fa-youtube"></i>
  </a>
  <a *ngIf="socialLinks.tiktok" 
     [href]="socialLinks.tiktok" 
     target="_blank" 
     aria-label="TikTok" 
     [ngClass]="['social-icon', 'tiktok', size]">
    <i class="fa-brands fa-tiktok"></i>
  </a>
</div>
