body {
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.4s ease-in-out;
  }
  
  /* Page-specific backgrounds based on route */
  body.bg-canvas-catalyst {
    //background-image: url('/assets/pngs/canvas-catalyst-bg.png');
    background: var(--gradient-bg);
  }

  body.bg-cloud-canvas {
    //background-image: url('/assets/jpgs/cloud-canvas-bg-2.jpg');
    background-color: #7795B3;

    .band-logo-container {
      background-image: url('/assets/jpgs/cloud-canvas-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      /* Make it fill the screen */
      width: 100%;
      height: 100%;      // allows it to grow if content pushes taller
      align-items: center;
    }

    .about-section {
      background-color: #7795B3;
    }
  }

  body.bg-rye-canvas {
    //background-image: url('/assets/jpgs/rye-canvas-bg.jpg');
    background-color: #FFA804;
  }

  body.bg-wailing-canvas {
    background-image: url('/assets/pngs/wailing-canvas-bg.png');
  }
  
  body.bg-phosphorescent-canvas {
    background-image: url('/assets/pngs/phosphorescent-canvas-bg.png');
  }

  body.bg-flickering-canvas {
    background-image: url('/assets/pngs/flickering-canvas-bg.png');
  }

  body.bg-staind-glass-canvas {
    background-image: url('/assets/pngs/staind-glass-canvas-bg.png');
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(18, 18, 18, 0.85); // overlay effect
      z-index: -1;
    }

    .band-hero {
      //background-color: rgba(0, 0, 0, 1);

      .band-logo-container {
        background-color: rgba(0, 0, 0, 1);
      }
    }
  }
  
  body.bg-home,
  body.bg-art,
  body.bg-contact {
    background-image: url('/assets/pngs/music-mosaic-bg.jpg');

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(18, 18, 18, 0.95); // overlay effect
      z-index: -1;
    }
  }
