@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-secondary;
  font-size: $font-size-base;
  color: $text-color-light;
  letter-spacing: $letter-spacing-base;
  position: relative;
}
