@use "sass:map";

$breakpoints: (
  xs: 375px, // iPhone SE
  sm: 430px, // iPhone 14 Pro Max
  md: 768px, // iPad Mini
  lg: 1024px, // iPad Pro
  xl: 1280px, // Next Hub Max
  xxl: 1440px, // Desktop
  xxxl: 1600px, // Desktop Large
  xxxxl: 1920px, // Large Monitor
);

@mixin respond-min($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin respond-max($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}
