@use "sass:map";
@use 'sass:color';

$themes: (
  home: (
    primary: #4A90E2,
    secondary: #50E3C2,
    background-image: url('/assets/pngs/music-mosaic-bg.jpg'),
    overlay: #121212f2,
  ),
  contact: (
    primary: #4A90E2,
    secondary: #50E3C2,
    background-image: url('/assets/pngs/music-mosaic-bg.jpg'),
    overlay: rgba(18, 18, 18, 0.95),
  ),
  canvas-catalyst: (
    primary: #504564,
    secondary: #dd6c34,
    background: linear-gradient(to right, #504564, #dd6c34),
  ),
  cloud-canvas: (
    primary: #D38497,
    secondary: #7795B3,
    background: linear-gradient(to right, #7795B3, #D38497),
    logo-bg: url('/assets/jpgs/cloud-canvas-bg.jpg'),
  ),
  rye-canvas: (
    primary: #3BBA43,
    secondary: #FFA804,
    background: linear-gradient(to right, #3BBA43, #FFA804),
  ),
  wailing-canvas: (
    background-image: url('/assets/pngs/wailing-canvas-bg.png'),
  ),
  phosphorescent-canvas: (
    background-image: url('/assets/pngs/phosphorescent-canvas-bg.png'),
  ),
  flickering-canvas: (
    background-image: url('/assets/pngs/flickering-canvas-bg.png'),
  ),
  staind-glass-canvas: (
    background-image: url('/assets/pngs/staind-glass-canvas-bg.png'),
    overlay: rgba(18, 18, 18, 0.85),
    band-hero-bg: rgba(0, 0, 0, 1),
  ),
);
