$font-family-base: Impact, sans-serif;
$font-family-secondary: Arial, sans-serif;
$font-size-base: 1rem;
$text-color-light: #ffffff;
$text-color-medium: #acacac;
$primary-color: #0055ff;
$secondary-color: #00c2ff;
$letter-spacing-base: 0px;