<div
  *ngIf="band"
  class="band-hero"
  [class.image-loaded]="imageLoaded"
  [ngStyle]="{ 'background-image': 'url(' + band.image + ')' }"
>
  <div class="band-logo-container">
    <app-band-logo [band]="band"></app-band-logo>
  </div>
</div>

<div class="band-info">
  <div class="section-container"> <!-- shared container -->
    <app-band-about *ngIf="band" [band]="band" appScrollAnimation></app-band-about>
  </div>
</div>

<div class="band-members-section" *ngIf="band">
  <div class="section-container"> <!-- shared container -->
    <app-members-list [bandSlug]="band.slug"></app-members-list>
  </div>
</div>

<div class="band-streaming-players">
  <div class="section-container"> <!-- shared container -->
    <app-streaming-players
      *ngIf="streamingPlayers.spotifyUrl || streamingPlayers.appleMusicUrl"
      [links]="streamingPlayers">
    </app-streaming-players>
  </div>
</div>