<div
  *ngIf="band"
  class="band-hero"
  [class.image-loaded]="imageLoaded"
  [ngStyle]="{ 'background-image': 'url(' + band.image + ')' }"
>
  <div class="overlay">
    <div class="band-info">
      <h1 class="band-name">{{ band.name }}</h1>
      <p class="band-description">{{ band.description }}</p>
      <div class="band-media-links-wrapper">
        <app-social-links [links]="band?.socialLinks" size="large"></app-social-links>
        <app-streaming-links [streamingLinks]="band?.streamingLinks" size="large"></app-streaming-links>
      </div>
    </div>
  </div>
</div>
<div class="band-members-section">
  <app-members-list [bandSlug]="band.slug"></app-members-list>
</div>