<div
  *ngIf="band"
  class="band-hero"
  [class.image-loaded]="imageLoaded"
  [ngStyle]="{ 'background-image': 'url(' + band.image + ')' }"
>
  <div class="overlay">
    <img 
      *ngIf="band?.slug" 
      [src]="'assets/svgs/' + band.slug + '.svg'" 
      alt="{{ band.name }} logo" 
      class="band-logo full-width-logo"
    />

    <div class="band-info">
      <div class="about-and-social-container">
        <!-- add scroll animation to the about section -->
        <div class="about-section" appScrollAnimation>
          <div class="about-title-wrapper">
            <h2 class="band-description-title">About</h2>
            <div class="title-underline"></div>
          </div>
          
          <div class="about-description-and-links">
            <img 
              *ngIf="band.aboutImage" 
              [src]="band.aboutImage" 
              [alt]="band.name + ' about image'" 
              class="band-description-image" 
              loading="lazy" 
            />

            <p class="band-description">{{ band.description }}</p>

            <div class="band-media-links-wrapper">
              <div class="media-block">
                <app-social-links 
                  [socialLinks]="band?.socialLinks" 
                  size="large"
                ></app-social-links>
              </div>
              <div class="media-block">
                <app-streaming-links 
                  [streamingLinks]="band?.streamingLinks" 
                  size="large"
                ></app-streaming-links>
              </div>
            </div>
          </div>
        </div> <!-- .about-section -->
      </div> <!-- .about-and-social-container -->
    </div> <!-- .band-info -->
  </div> <!-- .overlay -->
</div> <!-- .band-hero -->

<div class="band-members-section">
  <app-members-list [bandSlug]="band.slug"></app-members-list>
</div>
