@use 'index' as *;  // Import all styles from index.scss

// Ensure the container holds the cards in a horizontal layout
.members-list-container {
  display: flex;  // Flexbox to arrange the cards horizontally
  flex-wrap: wrap;  // Wrap cards to the next line if there are too many
  justify-content: flex-start;  // Align cards to the left
  gap: 24px;  // Space between cards
  padding: 12px;  // Padding around the container
  justify-content: center;  // Center the cards in the container
}

.member-card {
  display: flex;
  flex-direction: column;  // Cards in a horizontal layout
  align-items: center;  // Vertically align content in the center
  justify-content: flex-start;  // Align to the left side
  margin: 16px 0;
  padding: 0 16px 16px 16px;
  border-radius: 12px;
  background: transparent;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.08);
  max-width: 300px;  // Fixed width for the card
  width: 100%;  // Let the card take 100% of 400px width
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);  // Slightly larger on hover
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
    background-color: #111111;
  }
}

.member-image {
  flex-shrink: 0;  // Prevent image from shrinking

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    padding: 2px; // Create space for the border
    background-image:
      linear-gradient(#000000, #000000),
      linear-gradient(to right, #0e0e0e, #0f0f0f);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 1px solid transparent; // Required for background-clip trick
  }
}

.member-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 32px;
  width: 100%; // Allow text content to take full available width

  h3 {
    margin: 0;
    @include text-style-primary(1.5rem, 1.7rem, 1.2, 700); // Font size and weight
    color: #fff; // Adjust for text color
    padding-bottom: 8px;
    margin-bottom: 8px;
    width: fit-content;

    &::after {
      content: "";
      width: 100%;
      max-width: 100px;
      height: 8px;
      background: linear-gradient(to right, #4A90E2, #50E3C2); // Underline color
      display: block;
      margin: 10px 0;
    }
  }

  p {
    @include text-style-secondary(1rem, 1.125rem, 1.7, 400);
    color: #ccc;
    margin: 4px 0 16px;
  }

  .member-name {
    @include text-style-primary(1.75rem, 2rem, 1.3, 400);
  }
  
  .member-instrument {
    @include text-style-secondary(1.125rem, 1.25rem, 1.7, 700);
  }
}