.menu {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #4A90E2, #50E3C2);
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 2rem;
    }

    .menu-item {
      position: relative;

      a {
        text-decoration: none;
        color: #2d2d2d;
        font-size: 1.5rem;
        font-weight: bold;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: #000;
          font-size: 1.6rem;
        }
      }

      &.has-submenu {
        cursor: pointer;

        .submenu-wrapper {
          position: relative;

          .submenu-title {
            color: #2d2d2d;
            font-size: 1.5rem;
            font-weight: bold;
          }

          .submenu {
            position: absolute;
            top: 110%;
            left: 0;
            background: linear-gradient(to right, #4A90E2, #50E3C2);
            padding: 1rem 0;
            border-radius: 5px;
            width: fit-content;
            min-width: 350px;
            display: none;
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);

            li {
              padding: 0.5rem 0;
              text-align: left;

              a {
                color: #2d2d2d;
                display: block;
                padding: 0.7rem;

                &:hover {
                  background: #50E3C2;
                  border-left: 6px solid #2d2d2d;
                  color: #2d2d2d;
                }
              }
            }
          }

          &:hover .submenu {
            display: block;
          }
        }
      }
    }
  }