<div
  class="carousel-container"
  (mouseenter)="stopAutoSlide()"
  (mouseleave)="startAutoSlide()"
>
  <div
    class="carousel-slide"
    *ngFor="let item of carouselItems; let i = index"
    [class.active]="i === currentIndex"
    [ngStyle]="{ 'background-image': 'url(' + item.imageUrl + ')' }"
  >
    <div class="carousel-content" *ngIf="i === currentIndex" @slideUp>
      <h1 class="bandName">{{ item.bandName }}</h1>
      <h2 class="songName">"{{ item.songName }}"</h2>
      <h4 class="formattedDate">
        <span class="releaseDate">OUT</span>
        {{ item.formattedDate }}
      </h4>
      <a
        class="carousel-button animated-button"
        [href]="item.buttonLink"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ item.buttonText }}
      </a>
    </div>
  </div>
  
  <div class="carousel-pagination">
    <span
      *ngFor="let item of carouselItems; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="selectSlide(i)"
    ></span>
  </div>

  <button class="prev-button" (click)="prevSlide()">&#10094;</button>
  <button class="next-button" (click)="nextSlide()">&#10095;</button>
</div>
