<div
  class="carousel-container"
  (mouseenter)="stopAutoSlide()"
  (mouseleave)="startAutoSlide()"
>
  <div
    class="carousel-wrapper"
    [style.transform]="wrapperTransform"
    [style.transition]="transitionEnabled ? 'transform 600ms ease-out' : 'none'"
  >
    <div
      class="carousel-slide"
      *ngFor="let item of carouselItems; let i = index"
      [class.active]="i === currentIndex"
    >
      <img
        class="carousel-image"
        [src]="item.imageUrl"
        [alt]="item.songName || 'Carousel Image'"
        draggable="false"
      />

      <div class="gradient-overlay"></div>

      <!-- Animate this block as a whole -->
      <div
        class="carousel-content"
        appScrollAnimate
        [animationType]="'fade-slide'"
        [animationDelay]="'0s'"
      >
        <h1 class="songName">{{ item.songName }}</h1>
        <h2 class="bandName">{{ item.bandName }}</h2>
        <h4 class="formattedDate">
          <span class="release-date">Out:</span> {{ item.formattedDate }}
        </h4>
        <a
          class="carousel-button animated-button"
          [href]="item.buttonLink"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ item.buttonText }}
        </a>
      </div>
    </div>
  </div>

  <div class="carousel-pagination">
    <span
      *ngFor="let item of originalItems; let i = index"
      class="pagination-dot"
      [class.active]="activePaginationIndex === i"
      (click)="selectSlide(i)"
    ></span>
  </div>

  <div class="carousel-click-zones">
    <div class="click-zone prev-zone" (click)="prevSlide()"></div>
    <div class="click-zone next-zone" (click)="nextSlide()"></div>
  </div>
</div>
