@use '../../../styles/index' as *;

.contact-title-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .contact-title {
    @include text-style-primary(clamp(2.5rem, 5vw, 4rem), clamp(3rem, 6vw, 5rem), 1.4, 700);
    color: #7d7d7d;
    padding: $spacing-title-vertical $spacing-title-horizontal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #000;

    .form-group {
      position: relative;

      input,
      textarea {
        width: 100%;
        padding: 1.75rem 0.75rem 1rem;
        font-size: 1.125rem;
        font-family: inherit;
        border: none;
        border-bottom: 4px solid $text-color-medium;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        transition: border-color 0.3s ease, background 0.3s ease;
        color: #000;

        &::placeholder {
          color: transparent;
        }

        &:focus {
          outline: none;
          border-bottom: 4px solid $gradient-start;
          border-radius: 4px;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          top: 0.3rem;
          font-size: 0.75rem;
          color: #666;
          font-weight: 600;
        }
      }

      label {
        position: absolute;
        top: 1.5rem;
        left: 0.75rem;
        color: #666;
        font-size: 1rem;
        font-weight: 500;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
      }

      .required {
        color: #ff4d4d;
      }

      .error {
        color: #ff0000;
        font-size: 0.875rem;
        margin-top: 0.25rem;
      }
    }

    button {
      display: inline-block;
      padding: 1rem 1.5rem;
      font-size: 1.125rem;
      font-weight: 600;
      color: #000000;
      background: $gradient-mosai-canvas;
      border-radius: 6px;
      border: 2px solid #000000;
      cursor: pointer;
      margin: 1rem auto 2rem;
      transition: all 0.3s ease;
    
      &:hover:not(:disabled) {
        color: #000000;
        transform: scale(1.10);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      }
    
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
    
  }

  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
