// Imports global styles
@use 'index' as *;

.about-container {
    padding: 20px;
    margin: 0 auto;
    background-color: transparent;
  }
  
  .about-content {
    width: 75%;
    margin: 6rem auto 10rem;
    text-align: center;
  }
  
  .about-content h2 {
    @include text-style-primary(4rem, 5rem, 1.7, 700);
    padding: 4rem 0;
    color: #7d7d7d;
  }
  
  .about-content p {
    @include text-style-secondary(1rem, 2rem, 1.7, 400);
    color: #ccc;
  }
  
  .loading {
    @include text-style-secondary(1rem, 2rem, 1.7, 400);
    color: #888;
  }
  