<div class="about-container">
  <div class="about-content">
    <div *ngIf="loading">Loading...</div>

    <div *ngFor="let about of aboutList; let i = index">
      <h2 
        appScrollAnimate
        [animationType]="'fade-slide'" 
        [animationDelay]="(i * 0.1) + 's'">
        {{ about.title }}
      </h2>

      <p 
        appScrollAnimate 
        [animationType]="'fade-slide'" 
        [animationDelay]="(i * 0.15) + 's'">
        {{ about.body }}
      </p>
    </div>
  </div>
</div>
