@use 'index' as *;
@use 'variables' as *;
@use 'mixins' as *;

.releases-container {
  padding: 0;

  @include respond-min(md) {
    text-align: left;
  }

  .loading, .error {
    color: #cfcfcf;
    text-align: left;
    margin: $spacing-md 0;
  }
}