<div *ngIf="streamingLinks" class="streaming-links">
  
  <a *ngIf="streamingLinks.appleMusic" 
     [href]="streamingLinks.appleMusic" 
     target="_blank" 
     aria-label="Apple Music" 
     [ngClass]="['streaming-icon', 'apple-music', size]">
    <i class="fa-brands fa-apple"></i>
  </a>

  <a *ngIf="streamingLinks.spotify" 
     [href]="streamingLinks.spotify" 
     target="_blank" 
     aria-label="Spotify" 
     [ngClass]="['streaming-icon', 'spotify', size]">
    <i class="fa-brands fa-spotify"></i>
  </a>

  <a *ngIf="streamingLinks.soundCloud" 
     [href]="streamingLinks.soundCloud" 
     target="_blank" 
     aria-label="SoundCloud" 
     [ngClass]="['streaming-icon', 'soundcloud', size]">
    <i class="fa-brands fa-soundcloud"></i>
  </a>

</div>
