@import 'breakpoints';

.mosaicanvas-logo {
    width: 600px;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
  
    @include respond-max(lg) {
      width: 500px;
    }
  
    @include respond-max(md) {
      width: 400px;
    }
  
    @include respond-max(sm) {
      width: 300px;
    }
  
    @include respond-max(xs) {
      width: 220px;
    }
  }
  