.mosaicanvas-logo {
    width: 600px;
    height: auto;
    display: flex;
    margin: 75px auto -25px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000;
}